.clients {
  @include section;
}
.clients__section-title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 30px;
}
.clients__element {
  flex-basis: calc((100% - 30px * 5) / 6);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  @include transition(border-color);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: #afb1b8;

  @include transition(fill);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
