.logo {
  display: inline-block;

  font-family: var(--secondary-font);
  @include fonts(24px, var(--accent-color), 700, calc(28 / 24));

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--theme-light {
    color: var(--logo-dark-font-color);

    @include transition(color);

    .logo:hover &,
    .logo:focus & {
      color: var(--accent-color);
    }
  }
  &--theme-dark {
    color: var(--main-light-color);

    @include transition(color);

    .logo:hover &,
    .logo:focus & {
      color: var(--accent-color);
    }
  }
}
