.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50px;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social__icon {
  fill: #afb1b8;
  @include transition(fill);

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--main-light-color);
  }
}
