html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;

	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--base-text-color);
}

.noScroll {
	overflow: hidden;
}

main {
	flex-grow: 1;
}
